.main_header-container-fluid-navbar-dark-bg-dark {
    background-color: #02395b;
    background-image: radial-gradient(circle, black 0%, white 100%)}
.main_header- {}
.main_header {
    background-color: #02395b }
header.main_header.container-fluid {}