.main_header-container-fluid-navbar-dark-bg-dark {
    background-color: #02395b;
    background-image: radial-gradient(circle, black 0%, white 100%)}
.main_header- {}
.main_header {
    background-color: #02395b }
header.main_header.container-fluid {}
.slice_single {
    float: left;
    position: relative;
    margin-right: 15px;
}
.slice_single a.slice_link {
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: rgba(255,255,255,0.72);
    color: #02395b;
    line-height: 35px;
    /* font-size: 18px; */
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}
